[buildout]
extends = base.cfg
extensions = mr.developer
package-name = openprocurement.search
develop = src/openprocurement.search
auto-checkout = *
#show-picked-versions = true
#update-versions-file = profiles/versions.cfg

[sources]
openprocurement.search = git https://github.com/openprocurement/openprocurement.search.git branch=test

[search.ini]
debug = true
